

h2 {
    /*AWA : Colorer l'intro en bleu*/
    color: blue;
}

#text {
    /*AWA : Colorer le texte en jaune*/
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    color: #fcdf2b;
}

img {
    /*AWA : taille du logo Stars War*/
    width: 600px;
    height: auto;
}


