/* définir image clef animation */

@-webkit-keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to {
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}


/* background */

.background-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


/* etoiles */

.etoiles {
    background: black url("Sources/etoiles.png") repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    z-index: 0;
}


/* etoiles pour la brillance */

.bligbling {
    width: 10000px;
    height: 100%;
    background: transparent url("Sources/bligbling.png") repeat;
    background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
}


/* etoiles pour la brillance */


/*
    -moz-animation:move-background 70s linear infinite;
    -ms-animation:move-background 70s linear infinite;
    -o-animation:move-background 70s linear infinite;
    -webkit-animation:move-background 70s linear infinite;
    animation:move-background 70s linear infinite;
     
}
  
*/

body {
    /* AWA : Colorer le fond en noir*/
    background: black;
}

h2 {
    /*AWA : Colorer l'intro en bleu*/
    color: blue;
}

#text {
    /*AWA : Colorer le texte en jaune*/
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    color: #fcdf2b;
}

img {
    /*AWA : taille du logo Stars War*/
    width: 600px;
    height: auto;
}